.search-bar{
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}
.search-button{
    height: 3.25rem;
    width: 5rem ;
    margin-left: 0.5rem;
    border: none;
    background-color: #a8a8bd;
    color: #ffff;
    border-radius: 6px;
    cursor: pointer;
}
table {
    width: 100%;
  }