.search-bar{
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}
.search-button{
    height: 3.25rem;
    width: 5rem ;
    margin-left: 0.5rem;
    border: none;
    background-color: #337ab7;
    color: #ffff;
    border-radius: 6px;
    cursor: pointer;
}
.clear{
    // border-color: ;
    border: 1px solid #ccc;
    height: 3.25rem;
    width: 5rem ;
    margin-left: 0.5rem;
    border: none;
    background-color: #e6e6e6;
    color: #333;
    border-radius: 6px;
    cursor: pointer;
    
}
.clear:hover{ 
color: #333;
background-color: #e6e6e6;
border-color: #adadad;
}
table {
    width: 100%;
  }
  .m-2{
    margin:1rem;
  }
  .m-auto{
    display: flex;
    justify-content: center;
}

  


